/****GLOBAL****/
@font-face {
    font-family: 'akaju_outlineregular';
    src: url('../fonts/akaju_outline_demo-webfont.woff2') format('woff2'),
         url('../fonts/akaju_outline_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akaju_shineregular';
    src: url('../fonts/akaju_shine_demo-webfont.woff2') format('woff2'),
         url('../fonts/akaju_shine_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akaju_lightregular';
    src: url('../fonts/akaju_thin_demo-webfont.woff2') format('woff2'),
         url('../fonts/akaju_thin_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akajuregular';
    src: url('../fonts/akaju_demo-webfont.woff2') format('woff2'),
         url('../fonts/akaju_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	background: #000;
	color: #fff;
	font-family: 'akaju_lightregular';
    margin: 0;
}

#logo-wrap {
    width: 100%;
}

#logo {
    width: 200px;
    margin: 70px 21% 85px;
    display: block;
    max-width: 60%;
}

#header-inner {
    width: 25%;
    min-height: 100vh;
    float: left;
}

.nav-link {
    display: block;
    color: #fff;
    width: 100%;
    margin-bottom: 45px;
    font-family: 'akaju_lightregular';
    font-size: 20px;
}

#navlinks {
    margin: 0 22%;
}

#navlinks a {
    text-decoration: none;
}

#main-sec {
    display: inline-block;
    float: left;
    margin: 210px 0 200px;
}

#contact-head {
    position: absolute;
    right: 5.25%;
    top: 70px;
}

#phone {
    width: 26px;
    margin-right: 17px;
}

#email {
    width:30px;
}

#footer {
    width: 100%;
    display: inline-block;
    padding: 10px 5.6%;
}

#footer p {
    width: 44.4%;
    font-size: 14px;
    float: left;
    margin: 0;
}

#foot-right {
    text-align: right;
}
/****GLOBAL end****/


/****CONTACT****/
#contact-form label {
    width: 100%;
    display: block;
}

#contact-form input, #contact-form textarea {
    width: 100%;
    margin: 5px 0 15px;
}
/****CONTACT end****/